table {
  width: 95%;
  margin: 10px 0 40px 0;
}

.buttons {
  padding: 50px 0;
}

.academics div {
  padding-top: 5vh;
  width: 90%;
  margin: auto;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}
