<div class="home" fxLayout="column">
  <div fxLayout="row" class="head">
    <img
      [style.height]="'100px'"
      [style.width]="'100px'"
      src="../../../assets/user.png"
      alt=""
    />
    <div fxLayout="column" fxLayoutAlign="center start">
      <h1>{{ studentDetails[0][1] || "Sample" }}</h1>
      <h4>{{ studentDetails[2][1] || "Sample" }}</h4>
    </div>
  </div>
  <div class="general">
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
      <mat-card style="box-shadow: 0px 0px 5px rgb(155, 151, 151)">
        <mat-card-title>General Details</mat-card-title>
        <mat-card-content>
          <div
            class="grid"
            [ngStyle]="{
              'grid-template-columns': sm ? 'repeat(1, 1fr)' : 'repeat(2, 1fr)'
            }"
          >
            <div *ngFor="let item of studentDetails">
              <li fxLayout>
                <h3>{{ item[0] | titlecase }} :</h3>
                <h3>{{ item[1] }}</h3>
              </li>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
