<app-progress-bar *ngIf="loading"></app-progress-bar>

<div class="leave" *ngIf="!displayApplication">
  <div class="">
    <h1>Apply For Leave</h1>
    <mat-stepper
      [orientation]="(stepperOrientation | async)!"
      [linear]="true"
      #stepper
    >
      <mat-step [editable]="!submitted" [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Reason of leave</ng-template>
          <div fxLayout fxLayoutAlign="start center">
            <mat-form-field appearance="fill">
              <mat-label>Enter in brief</mat-label>
              <input matInput formControlName="firstCtrlOne" required />
              <mat-error
                *ngIf="firstFormGroup.controls['firstCtrlOne'].errors?.['required']"
                >Required*</mat-error
              >
              <mat-error
                *ngIf="firstFormGroup.controls['firstCtrlOne'].errors?.['minlength']"
                >Min length is 10</mat-error
              >
            </mat-form-field>
            <div class="spacer"></div>
            <mat-form-field appearance="fill">
              <mat-label>Upload Application</mat-label>
              <ngx-mat-file-input
                (change)="uploadedPic()"
                formControlName="firstCtrlTwo"
              >
              </ngx-mat-file-input>
              <mat-error>Required*</mat-error>
            </mat-form-field>
            <mat-icon
              class="icon"
              [style.margin]="'0 0 10px 15px'"
              (click)="clear()"
              >delete</mat-icon
            >
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step
        [editable]="!submitted"
        [stepControl]="secondFormGroup"
        label="Select Duration"
      >
        <form [formGroup]="secondFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Enter start date</mat-label>
            <input
              matInput
              formControlName="secondCtrlOne"
              type="date"
              (change)="changeStartDate()"
              min="{{ minDate }}"
              required
            />
          </mat-form-field>
          <mat-form-field [style.marginLeft]="'10px'" appearance="fill">
            <mat-label>Enter end date</mat-label>
            <input
              matInput
              formControlName="secondCtrlTwo"
              min="{{ startDate.value || minDate }}"
              type="date"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="onSubmit(stepper)">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Your application is submitted successfully !</p>
        <div>
          <button mat-button (click)="stepper.reset()">Apply New</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

  <cdk-accordion class="example-accordion">
    <cdk-accordion-item
      *ngFor="let leave of allLeaves; let index = index"
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index"
      [expanded]="index == 0 ? true : false"
    >
      <div
        [ngClass]="{ active: accordionItem.expanded }"
        class="example-accordion-item-header"
        (click)="accordionItem.toggle()"
      >
        <h4 [style.fontSize]="'1.1em'">Leave {{ index + 1 }}</h4>
        <span class="example-accordion-item-description">
          <mat-icon [ngClass]="{ active_icon: accordionItem.expanded }">{{
            accordionItem.expanded ? "expand_less" : "expand_more"
          }}</mat-icon>
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index"
      >
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
          <div fxLayout>
            <p>Reason Of Leave :</p>
            <p [style.marginLeft]="'10px'">{{ leave.reason }}</p>
          </div>
          <div fxLayout>
            <p>Leave Start date :</p>
            <p [style.marginLeft]="'10px'">{{ leave.start }}</p>
          </div>
          <div fxLayout>
            <p>Leave End date :</p>
            <p [style.marginLeft]="'10px'">{{ leave.end }}</p>
          </div>
          <div fxLayout>
            <p>Creation date :</p>
            <p [style.marginLeft]="'10px'">{{ leave.creationDate }}</p>
          </div>
          <div>
            <mat-icon class="icon" (click)="view(leave.imageName)"
              >image_search</mat-icon
            >
            <mat-icon
              [style.marginLeft]="'10px'"
              class="icon"
              (click)="deleteLeave(leave._id)"
              >delete</mat-icon
            >
          </div>
        </div>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>

<div *ngIf="displayApplication" class="cover">
  <div [style.margin]="'4vh 0 5vh 4vw'"><h1>Application Preview</h1></div>
  <div class="inside">
    <mat-icon (click)="view('')" class="cross">cancel</mat-icon>
    <img src="{{ imageUrl }}" alt="Image Not Found !" />
  </div>
</div>
