<div class="defaultHeight">
  <div class=""><h2>Forgot Password</h2></div>
  <mat-stepper orientation="vertical" #stepper linear>
    <mat-step [stepControl]="firstFormGroup" [editable]="!detailsTrue.value">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter your details</ng-template>
        <mat-form-field [style.marginRight]="'20px'" appearance="fill">
          <mat-label>Enter your id</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="id"
            [email]="true"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter phone number</mat-label>
          <input
            matInput
            formControlName="phoneNumber"
            type="number"
            required
          />
        </mat-form-field>
        <div>
          <button
            (click)="sendEmail(stepper)"
            mat-raised-button
            color="accent"
            mat-button
          >
            Send Email
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="!detailsTrue.value">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Enter your new password</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Type here</mat-label>
          <input matInput formControlName="password" required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button
            (click)="resetPassword(stepper)"
            color="accent"
            mat-raised-button
          >
            Submit
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Your Password is successfully resetted.</p>
      <div>
        <button [routerLink]="['/signin']" mat-raised-button color="accent">
          Login
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
