.sidebar {
  height: 100%;
  width: 100%;
  background-color: #3f5964;
}
ul {
  list-style: none;
  text-align: center;
  color: white;
}
li {
  padding: 20px 0;
  cursor: pointer;
}
li:hover {
  background-color: #a15c5c;
}
.active {
  background-color: #a15c5c;
}
