<div class="home" fxLayout="column">
  <div fxLayout="row" class="head">
    <img
      [style.height]="'100px'"
      [style.width]="'100px'"
      src="../../../assets/user.png"
      alt=""
    />
    <div fxLayout="column" fxLayoutAlign="center start">
      <h1>{{ studentDetails.studentName }}</h1>
      <h4>{{ studentDetails.studentId }}</h4>
    </div>
  </div>
  <div class="general">
    <div class="container">
      <mat-card style="box-shadow: 0px 0px 5px rgb(155, 151, 151)">
        <mat-card-title>General Details</mat-card-title>
        <mat-card-content>
          <div class="grid">
            <div fxLayout>
              <h3>Student Id :</h3>
              <h3>{{ studentDetails.studentId }}</h3>
            </div>
            <div fxLayout>
              <h3>College Id :</h3>
              <h3>{{ studentDetails.collegeId }}</h3>
            </div>
            <div fxLayout>
              <h3>Email :</h3>
              <h3>{{ studentDetails.email }}</h3>
            </div>
            <div fxLayout>
              <h3>PhoneNumber :</h3>
              <h3>{{ studentDetails.phone }}</h3>
            </div>
            <div fxLayout>
              <h3>Father Name :</h3>
              <h3>{{ studentDetails.fatherName }}</h3>
            </div>
            <div fxLayout>
              <h3>Mother Name :</h3>
              <h3>{{ studentDetails.motherName }}</h3>
            </div>
            <div fxLayout>
              <h3>Date of Birth :</h3>
              <h3>{{ studentDetails.dob }}</h3>
            </div>
            <div fxLayout>
              <h3>Course :</h3>
              <h3>{{ studentDetails.course }}</h3>
            </div>
            <div fxLayout>
              <h3>Branch :</h3>
              <h3>{{ studentDetails.branch }}</h3>
            </div>
            <div fxLayout>
              <h3>Batch :</h3>
              <h3>{{ studentDetails.batch }}</h3>
            </div>
            <div fxLayout>
              <h3>Section :</h3>
              <h3>{{ studentDetails.section }}</h3>
            </div>
            <div fxLayout>
              <h3>Roll No. :</h3>
              <h3>{{ studentDetails.rollNo }}</h3>
            </div>
            <div fxLayout>
              <h3>Enrollment No. :</h3>
              <h3>{{ studentDetails.enrollRollNo }}</h3>
            </div>
            <div fxLayout>
              <h3>University Roll No. :</h3>
              <h3>{{ studentDetails.universityRollNo }}</h3>
            </div>
            <div fxLayout>
              <h3>High School % :</h3>
              <h3>{{ studentDetails.highSchoolPercentage }}</h3>
            </div>
            <div fxLayout>
              <h3>Intermediate % :</h3>
              <h3>{{ studentDetails.intermediatePercentage }}</h3>
            </div>
            <div fxLayout>
              <h3>Enrollment Date :</h3>
              <h3>{{ studentDetails.enrollmentDate }}</h3>
            </div>
            <div fxLayout>
              <h3>Address :</h3>
              <h3>{{ studentDetails.address }}</h3>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
